@font-face {
    font-family: 'Conv_MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{ 
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 245px;
}
nav{
    width: 100%;
    height: 14%;
}
.container{
    width: 100%;
    margin: 0px auto;
    height: 100%;
}
.row{
    width: 100%;
    height: 100%;
}
[class*="col"]{
    float: left;
    display:block;
    padding:0 1em;

    /*    position: relative;*/ 
    /*    Хз  Нужно Относительное Позиционирование или же Нет*/
}
[class*="col"]:last-child{
    margin-right: 0;
}
.col-1  {width: 8.3%;}
.col-2  {width: 16.66%;}
.col-3  {width: 24.9%;}
.col-4  {width: 33.6%;}
.col-5  {width: 41.5%;}
.col-6  {width: 49.8%;}
.col-7  {width: 58.1%;}
.col-8  {width: 66.4%;}
.col-9  {width: 74.7%;}
.col-10 {width: 83%;}
.col-11 {width: 91.3%;}
.col-12 {width: 99.6%;}

.offset-1{margin-left: 8.3%;}
.offset-2{margin-left: 16.66%;}
.offset-3{margin-left: 24.9%;}
.offset-4{margin-left: 33.2%;}
.offset-5{margin-left: 41.5%;}
.offset-6{margin-left: 49.8%;}
.offset-7{margin-left: 58.1%;}
.offset-8{margin-left: 66.4%;}
.offset-9{margin-left: 74.7%;}
.offset-10{margin-left:83%;}
.offset-11{margin-left:91.3%;}
.offset-12{margin-left:99.6%;}


.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
/*   
============================================================ 
*/

/*Main*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Conv_MyriadPro-Regular';
    background-image: url(/img/bg.jpg);
    color: #959595;
    width: 100%;
    height: 4000px;

}
a,p,.wrapper>ul>li>ul{
    color: #959595;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
    margin-top: 0;
}
.wrapper>ul li{
    list-style: none;
}
.wrapper>ul>li{
    float: left;
    line-height: 81%;
    border-left:1px solid #727272;
    height: 35%;
    margin-top: 1.3%;
    padding-top: 0.0%;
}
.wrapper>ul>li>ul{
    position: absolute;
    top: 5.1%;
    left: 32.2%;
    display: none;
    overflow: hidden;
    background: #222222;
    width: 10.3%;
    height: 22.8%;
    border-radius: 0 0px 7px 7px;
}
.wrapper>ul>li>ul>li{
    height: 25%%;
    text-indent: 6%;
    line-height: 314%;
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 0 auto;

}
.wrapper>ul>li>ul>li:nth-of-type(2){
    line-height: 243%;
    letter-spacing: 0.7px;
}
.wrapper>ul>li>ul>li:nth-of-type(4){
    line-height: 209%;
    letter-spacing: 0.2px;
    border-bottom: none;
}
li>a:hover{
    color: #ffffff;
    transition: all 0.5s ease ;
}
li>a{
    transition: all 0.5s ease ;
}

.wrapper>ul>li>ul>li:last-child{
    height: 32%;
}
.wrapper>ul>li:nth-of-type(4):hover>ul{
    display: block;
    animation-name: drop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.wrapper>ul>li:nth-of-type(4)>ul:hover{
    display: block;
}
@keyframes drop{
    0%{

        margin-top: 1%;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

.wrapper{
    background: #222222;
    height: 100%;
}
.wrapper-1{
    background: #222222;
    height: 100%;
    line-height: 200%;
}
.wrapper>ul {
    margin-left: 19.3%;
    width: 89%;
    height: 100%;
}
.wrapper>ul>li:nth-of-type(1) {
    border-left: none;
}
.wrapper>ul>li:nth-of-type(2) {
    margin-left: 0.2%;
    padding-left: 1.0%;
    border-left: none;
}
.wrapper>ul>li:nth-of-type(3) {
    margin-left: 0.9%;
    letter-spacing: 0.4px;
    padding-left: 0.8%;
    width: 12.4%;
    border-right: 1px solid grey;
}
.wrapper>ul>li:nth-of-type(4) {
    margin-left: 0.1%;
    letter-spacing: 0.4px;
    padding-left: 0.8%;
    height: 72%;
    border-left: none;
}
.wrapper>ul>li:nth-of-type(5) {
    margin-left: 0.9%;
    letter-spacing: 0.4px;
    padding-left: 0.8%;
}
.wrapper>ul>li:nth-of-type(6) {
    margin-left: 0.5%;
    padding-left: 1.0%;

}
.wrapper-1>a {
    margin-left: 12.4%;
    letter-spacing: 0.3px;
}
span{
    font-weight: 600;
    color: #ffffff;
}
.row>.col-5{

}
nav+.container{
    height: 85.5%;
    background: #2E2E2E;
}
.col-6>h1{
    font-size: 2.2em;
    font-weight: 400;
    font-style: oblique;
    color: aliceblue;
    letter-spacing: -1.1px;
    padding-left: 59.4%;
    padding-top: 7.3%;
}
.col-6>.row>.col-6:last-child{
    margin-top: 8.6%;
}
.col-6>.row>.col-6:last-child>h3{
    font-size: 0.8em;
    font-weight: 400;
    font-style: oblique;
    color: #868a8d;
    letter-spacing: -0.1px;
    padding-left: 0%;
    padding-top: 1%;
}
.row>.col-6>img{
    padding-top: 6%;
    padding-left: 1%;
}
main {
    width: 72.7%;
    height: 2582px;
    margin: 0 auto;
    position: absolute;
    top: 26.2%;
    left: 13.5%;
    background: white;
}
main>nav{
    width: 100%;
    height: 2.4%;
    padding: 0;
}
.col-12{
    height: 100%;padding: 0;
}
.col-12>ul{
    width: 100%;
    margin-left: 0 0 0 0;
    height: 96%;
}
.col-12>ul>li{
    float: left;
}
/* Li -1 -> Начало */
.col-12>ul>li:nth-of-type(1){
    margin-left: 0%;
    letter-spacing: -1.0px;
    height: 100%;
    width: 15.2%;
}
.col-12>ul>li:nth-of-type(1)>h3{
    margin-top: 5.0%;
    margin-left: 10.2%;
    letter-spacing: -1.2px;
}
.col-12>ul>li:nth-of-type(1)>p{
    margin-top: 3.6%;
    margin-left: 9.4%;
    letter-spacing: 0.1px;
}
/* Li -2 -> Начало */
.col-12>ul>li:nth-of-type(2){
    margin-left: 0%;
    letter-spacing: -1.0px;
    height: 100%;
    width: 15.1%;
}
.col-12>ul>li:nth-of-type(2)>h3{
    margin-top: 5.2%;
    margin-left: 7.8%;
    letter-spacing: -0.8px;
}
.col-12>ul>li:nth-of-type(2)>p{
    margin-top: 3.3%;
    margin-left: 9.3%;
    letter-spacing: 0.4px;
}
/* Li -3 -> Начало */
.col-12>ul>li:nth-of-type(3){
    margin-left: 0%;
    letter-spacing: -1.0px;
    height: 100%;
    width: 15.7%;
}
.col-12>ul>li:nth-of-type(3)>h3{
    margin-top: 5.2%;
    margin-left: 7.8%;
    letter-spacing: -0.8px;
}
.col-12>ul>li:nth-of-type(3)>p{
    margin-top: 3.3%;
    margin-left: 9.3%;
    letter-spacing: 0.4px;
}
/* Li -4 -> Начало */
.col-12>ul>li:nth-of-type(4){
    margin-left: 0.0%;
    letter-spacing: -1.0px;
    height: 100%;
    width: 15.7%;
}
.col-12>ul>li:nth-of-type(4)>h3{
    margin-top: 5.2%;
    margin-left: 7.8%;
    letter-spacing: -0.8px;
}
.col-12>ul>li:nth-of-type(4)>p{
    margin-top: 3.3%;
    margin-left: 9.3%;
    letter-spacing: 0.4px;
}
/* Li -5 -> Начало */
.col-12>ul>li:nth-of-type(5){
    margin-left: 0.2%;
    letter-spacing: -1.0px;
    height: 77%;
    width: 15.9%;
    transition: background 0.4s ease;
}
.col-12>ul>li:nth-of-type(5)>h3{
    margin-top: 5.2%;
    margin-left: 8.1%;
    letter-spacing: -0.8px;
}
.col-12>ul>li:nth-of-type(5)>p{
    margin-top: 3.3%;
    margin-left: 9.6%;
    letter-spacing: 0.4px;
}
/* Li -5:HOVER -> Начало */
.col-12>ul>li:nth-of-type(5):hover{
    margin-left: 0.1%;
    margin-top: -1.0%;
    letter-spacing: -1.0px;
    height: 117%;
    width: 16.1%;
    padding-top: 1.0%;
    padding-left: 0.1%;
    border-radius: 5px 5px 0 0;
    background: #232323;
}
/* Li -6 -> Начало */
.col-12>ul>li:nth-of-type(6){
    margin-left: 0%;
    letter-spacing: -1.0px;
    height: 100%;
    width: 15.7%;
}
.col-12>ul>li:nth-of-type(6)>h3{
    margin-top: 5.2%;
    margin-left: 7.0%;
    letter-spacing: -0.8px;
}
.col-12>ul>li:nth-of-type(6)>p{
    margin-top: 3.3%;
    margin-left: 12.3%;
    letter-spacing: 0.4px;
}

.col-12>ul li{
    list-style: none;
}
/* Submenu - Start*/
.submenu{
    display: none;
    position: absolute;
    width: 16.0%;
    height: 152px;
    margin-left: 1.9%;
    background: #232323;
    top: 1.6%;
    left: 59.7%;
    border-radius: 0 0 7px 7px;
}
.submenu p{
    color: aliceblue;
}
.submenu>li:nth-of-type(1){
    height: 35%;
    padding-top: 19.2%;
    padding-left: 9.5%;
    letter-spacing: 0.0px;
}
.submenu>li:nth-of-type(2){
    height: 19%;
    padding-top: 4.7%;
    padding-left: 9.5%;
    letter-spacing: 0.7px;
}
.submenu>li:nth-of-type(3){
    height: 20%;
    padding-top: 4.7%;
    padding-left: 9.5%;
    letter-spacing: 0.0px;
}
.submenu>li:nth-of-type(4){
    height: 26%;
    padding-top: 4.7%;
    padding-left: 9.5%;
    letter-spacing: 0.1px;
}
.col-12>ul>li>h3{
    font-size: 0.9em;
    margin-top: 6.9%;
}
/* Submenu - End*/


/* Submenu - Animation*/
.col-12>ul>li:nth-of-type(5):hover>.submenu{
    display: block;
    animation-name: drop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/*          Slider - Start  
============================================================ 
*/

.slider{
    width: 100%;
    height: 409px;
}
.slider>ul>li {
    position: absolute;
    top: 4.1%;
    left: 2.4%;
    opacity: 1;
    z-index: 0;
}
/*         Scale 1.1 % Animation
============================================================ 
*/

.slider input[name="cheker"]#switcher-1:checked~ul>li:nth-of-type(1),
.slider input[name="cheker"]#switcher-2:checked~ul>li:nth-of-type(2),
.slider input[name="cheker"]#switcher-3:checked~ul>li:nth-of-type(3),
.slider input[name="cheker"]#switcher-4:checked~ul>li:nth-of-type(4),
.slider input[name="cheker"]#switcher-5:checked~ul>li:nth-of-type(5),
.slider input[name="cheker"]#switcher-6:checked~ul>li:nth-of-type(6){
    animation-name: trans;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes trans {
    0%{
        transform: scale(1.2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
/*         Animation End
============================================================ 
*/

.slider>ul{
    list-style: none;
    width: 100%;
}
.slider label {
    width: 10.2%;
    height: 62px;
    margin-top: 314px;
    position: relative;
    display: inline-block;
    z-index: 50;
    border: 1px solid grey;
    padding-top: -3.8%;
    padding-left: 0.3%

}
.slider label img {
    border: 1px solid grey;
    margin-top: 1.0px;
}
.slider input {
    overflow:hidden;
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
}
.slider label:nth-of-type(1){
    margin-left: 16.3%;
}
.slider label:nth-of-type(2){
    margin-left: 0.7%;
}
.slider label:nth-of-type(3){
    margin-left: 0.8%;
}
.slider label:nth-of-type(4){
    margin-left: 0.9%;
}
.slider label:nth-of-type(5){
    margin-left: 0.8%;
}
.slider label:nth-of-type(6){
    margin-left: 0.8%;
}
.bg-white-block {
    width: 75.5%;
    height: 81px;
    z-index: 30;
    background: #dddddd;
    position: absolute;
    top: 14.2%;
    left: 12.2%;
    border-radius: 5px;
}
.arrow-white-1,.arrow-white-2,.arrow-black,.arrow-black-1{
    position: absolute;
    top: 14.5%;
    z-index: 100;
    border: 1px solid #c6c6c6;

}
/*         Arrow - left
============================================================ 
*/

.arrow-white-1{
    left: 13.3%;
    border-radius: 5px 0 0 5px;
    height: 2.4%;
    overflow: hidden;
    transition: opacity 0.4s ease;
}
.arrow-white-2{
    left: 84.5%;
    border-radius: 0 5px 5px 0;
    height: 2.4%;
    overflow: hidden;
    opacity: 1;
    display: block;
    transition: opacity 0.4s ease;
}
.arrow-black {
    height: 2.4%;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    left: 84.6%;
    z-index: 60;
    opacity: 1;
    display: block;
}
body .arrow-black>img {
    margin-left: 0px;
    margin-top: 1px;
}
.arrow-white-2:hover{
    opacity: 0;
}
/*         Arrow - right
============================================================ 
*/
body .arrow-black-1 {
    height: 2.4%;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    left: 13.3%;
    opacity: 1;
    display: block;
    transform: rotate(180deg);
    z-index: 60;
}
body .arrow-black-1>img {
    margin-top: -2px;
}
.arrow-white-1:hover{
    opacity: 0;
}
/*         Sliders-min part 
============================================================ 
*/
.slider label img {
    transition: outline 0.1s ease-out;
}
.slider label:nth-of-type(1):hover>img {
    outline: 3px solid black;
}
.slider label:nth-of-type(2):hover>img {
    outline: 3px solid black;
}
.slider label:nth-of-type(3):hover>img {
    outline: 3px solid black;
}
.slider label:nth-of-type(4):hover>img {
    outline: 3px solid black;
}
.slider label:nth-of-type(5):hover>img {
    outline: 3px solid black;
}
.slider label:nth-of-type(6):hover>img {
    outline: 3px solid black;
}

main nav .col-12>ul {
    background: #2A2A2A;
    width: 100.4%;
}
.inscription-1,
.inscription-2,
.inscription-3,
.inscription-4,
.inscription-5,
.inscription-6{
    width: 56%;
    height:79px;
    z-index: 1000;
    position: absolute;
    top: 5.6%;
    left: 6.8%;
    margin-top: -1.6%;
    margin-left: -2.5%;
    opacity: 0;    
}
@keyframes ins {
    0%{
        opacity: 0;    
    }
    /*
    50%{
    opacity: 0;    

}
    */
    100%{
        opacity: 1;    
    }
}

.inscription-1 h3,
.inscription-2 h3,
.inscription-3 h3,
.inscription-4 h3,
.inscription-5 h3,
.inscription-6 h3{
    letter-spacing: -1.0px;
    color: aliceblue;
    width: 91%;
    height: 40px;
    display: block;
    margin-top: 1.4%;
    margin-left: 2.3%;
    padding-left: 2.1%;
    padding-top: 1.6%;
    background: black;
    border-radius: 7px 7px 7px 0;
}
.inscription-1 p,
.inscription-2 p,
.inscription-3 p,
.inscription-4 p,
.inscription-5 p,
.inscription-6 p{
    letter-spacing: -1.0px;
    color: aliceblue;
    margin-top: -0.1%;
    margin-left: 2.3%;
    letter-spacing: 0.8px;
    width: 54%;
    height: 20px;
    padding-left: 2.7%;
    padding-top: -4.5%;  
    background: black;
    border-radius: 0px 0 7px 7px;
}


.slider input[name="cheker"]#switcher-1:checked~ul>li:nth-of-type(1) {
    z-index: 20;
    opacity: 1;
}
.slider input[name="cheker"]#switcher-2:checked~ul>li:nth-of-type(2) {
    z-index: 20;
    opacity: 1;
}
.slider input[name="cheker"]#switcher-3:checked~ul>li:nth-of-type(3) {
    z-index: 20;
    opacity: 1;
}
.slider input[name="cheker"]#switcher-4:checked~ul>li:nth-of-type(4) {
    z-index: 20;
    opacity: 1;
}
.slider input[name="cheker"]#switcher-5:checked~ul>li:nth-of-type(5) {
    z-index: 20;
    opacity: 1;
}
.slider input[name="cheker"]#switcher-6:checked~ul>li:nth-of-type(6) {
    z-index: 20;
    opacity: 1;
}

/*  inscription - Start*/

.slider input[name="cheker"]#switcher-1:checked~.inscription-1 {
    z-index: 101;
    /*    opacity: 1;*/
    animation-name: ins;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.slider input[name="cheker"]#switcher-2:checked~.inscription-2 {
    z-index: 101;
    /*    opacity: 1;*/
    animation-name: ins;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.slider input[name="cheker"]#switcher-3:checked~.inscription-3 {
    z-index: 101;
    opacity: 1;
}

.slider input[name="cheker"]#switcher-4:checked~.inscription-4 {
    z-index: 101;
    opacity: 1;
}

.slider input[name="cheker"]#switcher-5:checked~.inscription-5 {
    z-index: 101;
    opacity: 1;
}

.slider input[name="cheker"]#switcher-6:checked~.inscription-6 {
    z-index: 101;
    opacity: 1;
}


/*  inscription - End*/

/*         WTF ??? Почему Это не Работает ???!!!
============================================================ 
*/

.wrapper-images>li:nth-of-type(1):hover~.inscription-1{
    opacity: 1;
    /*    margin-left: 12px;*/
}
/*          ??????????????????????
============================================================ 
*/
.bg-grad{
    width: 95%;
    height: 37px; 
    background-image: url(/img/little%20gradient.jpg);
    position: absolute;
    display: block;
    top: 16.3%;
    left: 2.6%
}

/*                         
*                           Block - "Content"
============================================================================
*/
.row>.col-6 {
    padding: 0;
}
.row>.col-6>h4 {
    margin-top: 5.2%;
    margin-left: 2.7%;
    font-size: 0.8rem;
    letter-spacing: 0.0px;
}
.row>.col-6>img {
    margin-top: 6.4%;
    margin-left: 1.8%;
    padding-top: 0;
    /*    width: 100%;*/
}
.row>.col-6>p:nth-of-type(1) {
    margin-left: 2.8%;
    margin-top: 6.1%;
    font-size: 0.8rem;
    letter-spacing: -0.3px;
    font-style: normal;
}
.row>.col-6>p:nth-of-type(2) {
    margin-left: 3.0%;
    margin-top: 3.7%;
    font-size: 0.8rem;
    letter-spacing: -0.3px;
    font-style: normal;
}
.row>.col-6>p:nth-of-type(3) {
    margin-left: 3.0%;
    margin-top: 3.7%;
    font-size: 0.8rem;
    letter-spacing: -0.3px;
    font-style: normal;
    line-height: 146%;
}
.col-6 .row {
    padding: 0;
}
.col-6 .row .col-3 {
    margin-top: 12.9%;
    margin-left:-2.2%;
}
.col-6 .row .col-9 h3 {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: -0.1px;
    margin-top: 19.6%;
    margin-left: -8.3%;
    line-height: 146%;
}
.col-6 .row .col-9 h3+p{
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.4px;
    margin-top: 1.9%;
    margin-left: -8.3%;
    line-height: 146%;
}

/*    Second col-6
=======================
*/

.row>.col-6:nth-of-type(2) {
    margin-left: -0.4%;
}
.col-8>.content>.row:nth-of-type(2) {
    margin-top: 6.4%;
}

/*                Content - Bottom
================================================
*/

.content>.row:nth-of-type(3) {
    margin-top: 8.5%;
}
.content>.row:nth-of-type(3)>.col-4>img {
    margin-top: 11.0%;
    margin-left: -3.6%;
}
.content>.row:nth-of-type(3)>.col-4>h4 {
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.3%;
    margin-top: 1.2%;
}
.content>.row:nth-of-type(3)>.col-8 {
    margin-top: 5.8%;
}
.content>.row:nth-of-type(3)>.col-8>h4 {
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.1%;
    margin-top: 1.2%;
}
.content>.row:nth-of-type(3)>.col-8>p:nth-of-type(1) {
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.1%;
    margin-top: 4.1%;
}
.content>.row:nth-of-type(3)>.col-8>p:nth-of-type(2) {
    font-size: 0.9em;
    font-style: normal;
    letter-spacing: 1.1px;
    margin-left: -4.1%;
    margin-top: 3.0%;
    line-height: 18px;
}

/*          2 row
===================================
*/
.content>.row:nth-of-type(4) {
    margin-top: 8.5%;
}
.content>.row:nth-of-type(4)>.col-4>img {
    margin-top: -6.9%;
    margin-left: -3.6%;
}
/*
.content>.row:nth-of-type(4)>.col-4>h4 {
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.3%;
    margin-top: 1.2%;
}
*/
.content>.row:nth-of-type(4)>.col-8 {
    margin-top: 5.8%;
}
.content>.row:nth-of-type(4)>.col-8>h4 {
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.1%;
    margin-top: -12.1%;
}
.content>.row:nth-of-type(4)>.col-8>p:nth-of-type(1) {
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.1%;
    margin-top: 4.1%;
}
.content>.row:nth-of-type(4)>.col-8>p:nth-of-type(2) {
    font-size: 0.9em;
    font-style: normal;
    letter-spacing: 1.1px;
    margin-left: -4.1%;
    margin-top: 3.0%;
    line-height: 18px;
}
/*          3 row
===================================
*/
.content>.row:nth-of-type(5) {
    margin-top: 8.5%;
}
.content>.row:nth-of-type(5)>.col-4>img {
    margin-top: -6.9%;
    margin-left: -3.6%;
}
/*
.content>.row:nth-of-type(4)>.col-4>h4 {
font-size: 0.8em;
font-style: italic;
letter-spacing: 0.2px;
margin-left: -4.3%;
margin-top: 1.2%;
}
*/
.content>.row:nth-of-type(5) {
    margin-top: 7.9%;
}
.content>.row:nth-of-type(5)>.col-8 {
    margin-top: 5.8%;
}
.content>.row:nth-of-type(5)>.col-8>h4 {
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.1%;
    margin-top: -12.1%;
}
.content>.row:nth-of-type(5)>.col-8>p:nth-of-type(1) {
    font-size: 0.7em;
    font-style: italic;
    letter-spacing: 0.2px;
    margin-left: -4.1%;
    margin-top: 4.1%;
}
.content>.row:nth-of-type(5)>.col-8>p:nth-of-type(2) {
    font-size: 0.9em;
    font-style: normal;
    letter-spacing: 1.1px;
    margin-left: -4.1%;
    margin-top: 3.0%;
    line-height: 18px;
}
/*                          ASIDE
==================================================================
*/

.container>.row>.col-4 {
    padding: 0;
}
.col-4 form label input {
    margin-top: 4.9%;
    margin-left: 1.8%;
    width: 91%;
    height: 35px;
    display: block;
    text-indent: 1.8%;
    letter-spacing: -0.8px;
}
.row>.col-12>h4 {
    margin-top: 7.8%;
    font-size: 0.9em;
    font-style: italic;
    letter-spacing: 0.2px;
    line-height: 18px;
    margin-left: 1.2%;
}
.row>.col-12>img {
    margin-left: 1.6%;
    margin-top: 5.7%;   
}
.row>.col-12>h4:nth-of-type(2) {
    margin-top: 6.4%;
    letter-spacing: -0.3px;
}
aside>.row>.col-6>img {
    margin-left: 8.2%;
    margin-top: 16.2%;
}
aside>.row>.col-6:nth-of-type(2)>img {
    margin-left: 3.8%;
    margin-top: 16.2%;
}
.video  {
    padding-left: -0.1%;
    padding-top: 1.8%;
}
.video iframe {
    margin-left: 1.2%;
    margin-top: 5.5%;
}
.comments h4 {
    margin-left: 0.9%;
    margin-top: 7.0%;
    letter-spacing: -0.4px;
    font-style: italic;
    font-size: 0.9em;
}
.comments p {
    margin-left: 1.4%;
    margin-top: 6.5%;
    letter-spacing: -1.1px;
    font-style: normal;
    font-size: 0.9em;
}
.comments h5 {
    margin-left: 1.5%;
    margin-top: 2.4%;
    letter-spacing: -0.6px;
    font-style: normal;
    font-size: 0.7em;
}
.row .row .col-12>a {
    margin-left: 90%;
    letter-spacing: -1.1px;
    font-style: italic;
    font-size: 0.9em;
}
.row .row .back {
    margin-top: 4.4%;
    margin-left: -0.9%;
    padding-top: 4.9%;
}

