@font-face {
    font-family: 'Conv_MyriadPro-Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{ 
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 245px;
}
nav{
    width: 100%;
    height: 14%;
}
.container{
    width: 100%;
    margin: 0px auto;
    height: 100%;
}
.row{
    width: 100%;
    height: 100%;
}
[class*="col"]{
    float: left;
    display:block;
    padding:0 1em;

    /*    position: relative;*/ 
    /*    Хз  Нужно Относительное Позиционирование или же Нет*/
}
[class*="col"]:last-child{
    margin-right: 0;
}
.col-1  {width: 8.3%;}
.col-2  {width: 16.66%;}
.col-3  {width: 24.9%;}
.col-4  {width: 33.6%;}
.col-5  {width: 41.5%;}
.col-6  {width: 49.8%;}
.col-7  {width: 58.1%;}
.col-8  {width: 66.4%;}
.col-9  {width: 74.7%;}
.col-10 {width: 83%;}
.col-11 {width: 91.3%;}
.col-12 {width: 99.6%;}

.offset-1{margin-left: 8.3%;}
.offset-2{margin-left: 16.66%;}
.offset-3{margin-left: 24.9%;}
.offset-4{margin-left: 33.2%;}
.offset-5{margin-left: 41.5%;}
.offset-6{margin-left: 49.8%;}
.offset-7{margin-left: 58.1%;}
.offset-8{margin-left: 66.4%;}
.offset-9{margin-left: 74.7%;}
.offset-10{margin-left:83%;}
.offset-11{margin-left:91.3%;}
.offset-12{margin-left:99.6%;}


.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
/*   
============================================================ 
*/

/*Main*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Conv_MyriadPro-Regular';
    background-image: url(/img/bg.jpg);
    color: #959595;
    width: 100%;
    height: 4000px;
    
}
a,p,.wrapper>ul>li>ul{
    color: #959595;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
    margin-top: 0;
}
.wrapper>ul li{
    list-style: none;
}
.wrapper>ul>li{
    float: left;
    line-height: 81%;
    border-left:1px solid #727272;
    height: 35%;
    margin-top: 1.3%;
    padding-top: 0.0%;
}
.wrapper>ul>li>ul{
    position: absolute;
    top: 5.1%;
    left: 32.2%;
    display: none;
    overflow: hidden;
    background: #222222;
    width: 10.3%;
    height: 22.8%;
    border-radius: 0 0px 7px 7px;
}
.wrapper>ul>li>ul>li{
    height: 25%%;
    text-indent: 6%;
    line-height: 314%;
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 0 auto;
    
}
.wrapper>ul>li>ul>li:nth-of-type(2){
    line-height: 243%;
    letter-spacing: 0.7px;
}
.wrapper>ul>li>ul>li:nth-of-type(4){
    line-height: 209%;
    letter-spacing: 0.2px;
    border-bottom: none;
}
li>a:hover{
    color: #ffffff;
    transition: all 0.5s ease ;
}
li>a{
    transition: all 0.5s ease ;
}

.wrapper>ul>li>ul>li:last-child{
    height: 32%;
}
.wrapper>ul>li:nth-of-type(4):hover>ul{
    display: block;
    animation-name: drop;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.wrapper>ul>li:nth-of-type(4)>ul:hover{
    display: block;
}
@keyframes drop{
    0%{
        
        margin-top: 1%;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

.wrapper{
    background: #222222;
    height: 100%;
}
.wrapper-1{
    background: #222222;
    height: 100%;
    line-height: 200%;
}
.wrapper>ul {
    margin-left: 19.3%;
    width: 89%;
    height: 100%;
}
.wrapper>ul>li:nth-of-type(1) {
    border-left: none;
}
.wrapper>ul>li:nth-of-type(2) {
    margin-left: 0.2%;
    padding-left: 1.0%;
    border-left: none;
}
.wrapper>ul>li:nth-of-type(3) {
    margin-left: 0.9%;
    letter-spacing: 0.4px;
    padding-left: 0.8%;
    width: 12.4%;
    border-right: 1px solid grey;
}
.wrapper>ul>li:nth-of-type(4) {
    margin-left: 0.1%;
    letter-spacing: 0.4px;
    padding-left: 0.8%;
    height: 72%;
    border-left: none;
}
.wrapper>ul>li:nth-of-type(5) {
    margin-left: 0.9%;
    letter-spacing: 0.4px;
    padding-left: 0.8%;
}
.wrapper>ul>li:nth-of-type(6) {
    margin-left: 0.5%;
    padding-left: 1.0%;

}
.wrapper-1>a {
    margin-left: 12.4%;
    letter-spacing: 0.3px;
}
span{
    font-weight: 600;
    color: #ffffff;
}
.row>.col-5{
    
}
nav+.container{
    height: 85.5%;
    background: #2E2E2E;
}
.col-6>h1{
    font-size: 2.2em;
    font-weight: 400;
    font-style: oblique;
    color: aliceblue;
    letter-spacing: -1.1px;
    padding-left: 59.4%;
    padding-top: 7.3%;
}
.col-6>.row>.col-6:last-child{
    margin-top: 8.6%;
}
.col-6>.row>.col-6:last-child>h3{
    font-size: 0.8em;
    font-weight: 400;
    font-style: oblique;
    color: #868a8d;
    letter-spacing: -0.1px;
    padding-left: 0%;
    padding-top: 1%;
}
.row>.col-6>img{
    padding-top: 6%;
    padding-left: 1%;
}
main {
    width: 72.7%;
    height: 2582px;
    margin: 0 auto;
    position: absolute;
    top: 28.1%;
    left: 13.5%
}
main>nav{
    width: 100%;
    height: 2.4%;
    padding: 0;
}
.col-12{
    height: 100%;
}
.col-12>ul{
    width: 100%;
    margin-left: 0
}
.col-12>ul>li{
    float: left;
}
.col-12>ul>li:nth-of-type(1){
    margin-left: 0%
}
.col-12>ul li{
    list-style: none;
}
.submenu{
    display: none;
}
.col-12>ul>li>h3{
    font-size: 0.9em;
    margin-top: 6.9%;
}